@import '../assets/styles/variables';

.resume {
  &-wrapper {
    padding: 1rem;
    .italic {
      font-style: italic;
      font-weight: 400;
    }
    section {
      margin-bottom: 2rem;
      article {
        margin-bottom: 0.5rem;
      }
      h2 {
        font-size: 1.15rem;
        letter-spacing: 0.125rem;
        margin: 0 0 1rem 0;
      }
      h3 {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: $text-spacing-primary;
        margin: 0 0 0.25rem 0;
      }
      ul {
        padding-left: 2rem;
        margin: 0.5rem 0 0.75rem 0;
        li {
          font-size: 1.0125rem;
          line-height: 1.5rem;
          letter-spacing: $text-spacing-primary;
        }
      }
      p {
        line-height: 1.275rem;
        margin: 0.5rem 0 0.75rem 0;
        letter-spacing: $text-spacing-primary;
      }
    }
  }
  &-main {
    max-width: 600px;
  }
}
