@import '../assets/styles/variables';

.resume {
  &-wrapper {
    padding: 1rem;
    .italic {
      font-style: italic;
      font-weight: 400;
    }
    section {
      max-width: 540px;
      margin-bottom: 2.5em;
      &.experience {
        max-width: none;
      }
      article {
        margin-bottom: 1.25rem;
      }
      h2 {
        font-size: 1.175rem;
        letter-spacing: 0.125rem;
        margin: 0 0 1.25rem 0;
      }
      h3 {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: $text-spacing-primary;
        margin: 0 0 0.25rem 0;
      }
      ul {
        padding-left: 2rem;
        margin: 0.5rem 0 0.75rem 0;
        li {
          font-size: 1.0125rem;
          line-height: 1.5rem;
          letter-spacing: $text-spacing-primary;
        }
      }
      p {
        line-height: 1.275rem;
        margin: 0.5rem 0 0.75rem 0;
        letter-spacing: $text-spacing-primary;
      }
      &.experience {
        article {
          margin-bottom: 0.75rem;
          h3 {
            font-family: 'Roboto', sans-serif;
            letter-spacing: unset;
          }
        }
      }
    }
  }
}

// Download button

.download-button {
  margin: 1.75rem 0;
  figure {
    width: 100px;
    height: 30px;
    cursor: pointer;
    perspective: 500px;
    -webkit-perspective: 500px;
    margin-bottom: 50px;
    &:hover div {
      transform: rotateX(-90deg);
    }
    & div {
      height: 100%;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      transition: 0.25s;
      -webkit-transition: 0.25s;
      .resume-button {
        width: 100%;
        height: 100%;
        position: absolute;
        border: 0.75px solid $secondary-black;
        border-radius: 0.25rem;
        font-family: 'Avenir Light', sans-serif;
        line-height: 50px;
        font-size: 8pt;
        text-align: center;
        text-transform: lowercase;
        &:nth-child(1) {
          color: $primary-black;
          transform: translate3d(0, 0, 15px);
          -webkit-transform: translate3d(0, 0, 15px);
        }
        &:nth-child(2) {
          color: $primary-black;
          background: $primary-white;
          transform: rotateX(90deg) translate3d(0, 0, 15px);
          -webkit-transform: rotateX(90deg) translate3d(0, 0, 15px);
        }
        .button-face {
          position: absolute;
          top: -36.5%;
          left: 24.5%;
        }

        .button-back {
          position: absolute;
          top: -36.5%;
          left: 40%;
          a {
            font-family: 'Avenir Light', sans-serif;
            color: $primary-black;
            line-height: 50px;
            font-size: 8pt;
            text-align: center;
            text-transform: lowercase;
            text-decoration: none;
            &:hover {
              font-family: 'Avenir Light', sans-serif;
              line-height: 50px;
              font-size: 8pt;
              text-align: center;
              text-transform: lowercase;
              text-decoration: none;
              text-decoration: none;
              -o-transition: 1s;
              -ms-transition: 1s;
              -moz-transition: 1s;
              -webkit-transition: 1s;
              transition: 1s;
            }
          }
        }
      }
    }
  }
}
