@import '../assets/styles/variables';

.resume-header {
  h1 {
    color: $primary-red;
  }
  & .resume-links {
    margin: 0.5rem 0;
    ul {
      font-size: 0.75rem;
      list-style: none;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 250px;
      text-transform: uppercase;
    }
  }
  & a {
    position: relative;
    text-decoration: none;
    color: $secondary-black;
    transition: 1.5s;
    &:hover {
      color: $primary-black;
      &:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -3px;
      left: 0;
      background-color: $primary-red;
      visibility: hidden;
      transform: scaleX(0);
      transform-origin: left;
      transition: all 0.9s ease-in-out 0s;
      transition-delay: initial;
    }
  }
}

figure {
  width: 100px;
  height: 30px;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
  margin-bottom: 50px;
}

figure div {
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}

figure:hover div {
  transform: rotateX(-90deg);
}

.submitstory {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 0.75px solid black;
  font-family: 'Avenir Light', sans-serif;
  line-height: 50px;
  font-size: 8pt;
  text-align: center;
  text-transform: lowercase;
}

.submitstory:nth-child(1) {
  color: black;
  transform: translate3d(0, 0, 15px);
  -webkit-transform: translate3d(0, 0, 15px);
}

.submitstory:nth-child(2) {
  color: black;
  background: rgba(255, 255, 255, 1);
  transform: rotateX(90deg) translate3d(0, 0, 15px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 15px);
}

.storyone {
  position: absolute;
  top: -36.5%;
  left: 24.5%;
}

.storytwo {
  position: absolute;
  top: -36.5%;
  left: 40%;
}

.storytwo a {
  font-family: 'Avenir Light', sans-serif;
  color: black;
  line-height: 50px;
  font-size: 8pt;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
}

.storytwo a:hover {
  font-family: 'Avenir Light', sans-serif;
  // color: rgba(171, 68, 68, 1);
  line-height: 50px;
  font-size: 8pt;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  text-decoration: none;
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
