// COLOR
$primary-black: rgba(0, 0, 0, 1);
$secondary-black: rgba(0, 0, 0, 0.65);
$tertiary-black: rgba(0, 0, 0, 0.25);
$primary-grey: rgba(204, 204, 204, 1);
$primary-red: rgba(167, 83, 81, 1);
$primary-white: rgba(250, 253, 255, 1);
$secondary-white: rgba(255, 255, 255, 1);
$tertiary-white: rgba(240, 240, 240, 1);

// SIZE
$medium-width: 640px;
$large-width: 896px;
$x-large-width: 1440px;
